body, html {
  height: 100%;
}

.contact-us {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 30px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  padding: 20px;
  color: white;
}
.contact-us fieldset {
  background-color: rgba(10, 10, 10, 0.6);
}
.contact-us fieldset legend {
  color: red;
  font-size: 25px;
  font-weight: 700;
}
.contact-us fieldset p {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
.contact-us form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.contact-us form input[type=submit] {
  background-color: rgb(230, 230, 230);
  width: 100px;
  margin-left: 40%;
  cursor: pointer;
}

.bg-image {
  /* The image used */
  background-image: url("/images/img2.jpg");
  /* Add the blur effect */
  filter: blur(6px);
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background: black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  margin: 0;
}
footer div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 15px;
}
footer i {
  transform: scale(1.8);
}
footer p {
  color: white;
  text-wrap: wrap;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
}

html::-webkit-scrollbar {
  width: 11px;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(145, 16, 16);
}

html::-webkit-scrollbar-track {
  background: black;
}